.form{
    width: 500px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #2945a326;
    &__title {
        text-align: center;
    }
    &__group {
        margin-bottom: 15px;
    }
    &__control {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 8px;
        border: 1px solid #000;
        resize: none;
        border-radius: 3px;
        &:hover{
            border: 1px solid #3e0bf3;
        }
        &:focus{
            outline: none;
        }
        &--error-input{
            border: 1.2px solid #f30505;
            color: #f30505;
            &:hover{
                border: 1px solid #f30505;
            }
        }
        &--error-label{
            color: #f30505;
        }
    }
}