<div class="form">
    <h1 class="form__title">форма</h1>
    <div class="form__group">
        <label for="name_id">Name</label>
        <input id="name_id" class="form__control" type="text">
    </div>
    <div class="form__group">
        <label for="email_id">email</label>
        <input  id="email_id" class="form__control" type="email">
    </div>
    <div class="form__group">
        <label for="pass_id">password</label>
        <input id="pass_id" class="form__control" type="password">
    </div>
    <div class="form__group">
        <input class="form__control" type="tel">
    </div>
    <div class="form__group">
        <textarea class="form__control" ></textarea>
    </div>
</div>