<div class="form">
    <h1 class="form__title">форма</h1>
    <div class="form__group">
        <label for="name_id">Name</label>
        <input id="name_id" class="form__control" type="text">
    </div>
    <div class="form__group">
        <label for="email_id">email</label>
        <input  id="email_id" class="form__control" type="email">
    </div>
    <div class="form__group">
        <label for="pass_id">password</label>
        <input id="pass_id" class="form__control" type="password">
    </div>
    <div class="form__group">
        <label for="tel_id" [ngClass]="{'form__control--error-label': text.length > 5}">phone</label>
        <input class="form__control" 
            id="tel_id"
            type="tel" 
            [ngClass]="{'form__control--error-input': text.length > 5}"
            (input)="input($event)"
            (focus)="input($event)"
            >
    </div>
    <div class="form__group">
        <textarea class="form__control" ></textarea>
    </div>
</div>